/* reset css style start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-family: 'Inter';
  background-color: #E7F6FF;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css style end*/

*{
  font-family: 'Inter', system-ui;
  box-sizing: border-box;
}

.wrapper{
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

/* header style start*/

header{
  border-bottom: 1px solid #eaeaea;
}

.title__desc{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
}

/* header style end*/

/* card style start */

.card__container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.title__main{
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.card{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 240px;
  margin: 0 8px 16px 8px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 16px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.card:hover{
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.card__bottom{

}

.btn__buy{
  margin-left: auto;
  background-color: white;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.btn__buy2{
  margin-left: auto;
  background-color: #00d400;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.btn__buy:hover{
  transition: .2s;
  background-color: #00d400;
  border-color: #00d400;
}

.btn__buy:hover svg path{
  transition: .2s;
  fill: white;
}

.card__pic{
  margin-bottom: 14px;
}

.card__title{
  flex: 1 1;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 14px;
}

.price{
  text-transform: uppercase;
  color: #BDBDBD;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}

.price__number{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.search-block{
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 0 15px;
}

.search__input{
  width: 200px;
  border: none;
  padding: 12px;
  font-size: 16px;
}

.like{
  z-index: 2;
  position: absolute;
}

.like__btn{
  position: relative;
  bottom: 0;
  left: 0;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.like__btn:hover, .like__btn:active, .like__btn:focus{
  transition: .2s;
  background-color: #FEF0F0;
  border: 1px solid #FEF0F0;
}

.like__btn:hover svg path{
  transition: .2s;
  fill: #FF8585;
}

/* card style end */

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.right__board{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  padding: 30px;
  background-color: white;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}

.cart__title{
  font-size: 24px;
}

.cart__content{
  overflow: auto;
  flex: 1;
  margin: 40px 0 30px;
  padding: 0 10px;
}

.cart__item{
  margin-bottom: 20px;
  padding: 14px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.cart__item p{
  font-size: 16px;
}

.cart__item b{
  font-size: 14px;
}

.remove__btn{
  cursor: pointer;
  background-color: white;
  padding: 8px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.remove__btn:hover{
  transition: .2s;
  background-color: #f3f3f3;
}

.line__total{
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 8px;
}

.list__total{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cart__buy{
  position: relative;
  cursor: pointer;
  background-color: #9dd558;
  height: 55px;
  border: 0;
  color: white;
  font-weight: 500;
  border-radius: 12px;
}

.cart__buy:hover .arrow__buy{
  transform: translateX(4px);
}

.cart__buy:hover{
  transition: .2s;
  background-color: #86b64c;
}

.arrow__buy{
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform .2s ease-in-out;
}